{
  "id": "bayer-hcp-uk",
  "viewports": [
    {
      "label": "desktop",
      "width": 1920,
      "height": 1080
    },
    {
      "label": "phone",
      "width": 320,
      "height": 480
    },
    {
      "label": "tablet",
      "width": 1024,
      "height": 768
    }
  ],
  "onBeforeScript": "playwright/onBefore.cjs",
  "onReadyScript": "playwright/onReady.cjs",
  "scenarios": [
    {
      "label": "Scenario 1",
      "referenceUrl": "https://space.bayer.de/herzinsuffizienz/hfref-mode-disease-video",
      "url": "https://wsf-nxg-fe-next.vercel.app/herzinsuffizienz/hfref-mode-disease-video",
      "delay": 6000,
      "cookiePath": "backstop_data/bayer_hcp_uk/engine_scripts/cookies.json"
    }
  ],
  "paths": {
    "bitmaps_reference": "public/bayer_hcp_uk/bitmaps_reference",
    "bitmaps_test": "public/bayer_hcp_uk/bitmaps_test",
    "engine_scripts": "backstop_data/bayer_hcp_uk/engine_scripts",
    "html_report": "public/bayer_hcp_uk/report",
    "ci_report": "public/bayer_hcp_uk/ci_report",
    "json_report": "src/bayer_hcp_uk"
  },
  "report": [
    "json"
  ],
  "engine": "playwright",
  "engineOptions": {
    "browser": "chromium"
  },
  "asyncCaptureLimit": 5,
  "asyncCompareLimit": 50,
  "debug": false,
  "debugWindow": false
}